/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
  font-weight: 100;
  overflow-y: scroll;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  font-family: 'Saira Condensed', sans-serif;
}
.wrapper {
  width: 85%;
  margin: 0 auto;
}
.secTitle {
  font-size: 3em;
  display: block;
  color: #424242;
  text-align: center;
  padding-top: 1.25em;
}
.secTitle:after {
  width: 4em;
  height: 2px;
  content: "";
  display: block;
  margin: 0 auto;
  background-color: #ED8549;
}
.pic {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}

/* Header */
#mainHeader {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero.jpg);
}
#mobileHeader {
  display: none;
}
#mobileBanner {
  display: none;
}
.mainNav {
  display: flex;
  padding: 1em 0;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}
.mainNav .logo {
  display: block;
  width: 22%;
}
.mainNav .logo img {
  width: 100%;
  height: auto;
  display: block;
}
.mainNav .links ul {
  list-style: none;
}
.mainNav .links ul li {
  margin-left: 1.5em;
  display: inline-block;
}
.mainNav .links ul li a {
  color: #fff;
  font-size: 1.25em;
  text-decoration: none;
}
.mainNav .links ul li a:hover {
  color: #ED8549;
  transition: color 0.3s ease-in-out;
}
.textbox {
  top: 32%;
  left: 8%;
  width: 75%;
  color: #fff;
  position: absolute;
}
.textbox h1 {
  font-weight: 800;
  font-size: 5.75em;
  line-height: 110px;
}
.textbox a {
  color: #ED8549;
  font-weight: 400;
  font-size: 1.15em;
  margin-right: 1.5em;
}
.textbox a .btn {
  padding: 0.5em 3em;
  border-radius: 25px;
  border: 1px solid #ED8549;
  background-color: transparent;
}
.textbox a .btn:hover {
  color: #fff;
  background-color: #ED8549;
  transition: color 0.3s ease-in-out,
  background-color 0.3s ease-in-out;
}


/* Get food fast - Not fast food */
#getFood .fstFoodText {
  margin-top: 3.5em;
  font-size: 1.25em;
  text-align: center;
}
.fourReasons {
  display: flex;
  align-content: center;
  margin: 2.5em 0 3.5em 0;
  justify-content: space-between;
}
.reason {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fourReasons .rsnIcon {
  color: #ED8549;
  font-size: 2.25em;
}
.fourReasons .rsnTitle {
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: 400;
}
.fourReasons .rsnText {
  width: 85%;
  text-align: justify;
}

/* Meal images */
.foodPics {
  display: grid;
  background-color: #000;
  grid-template: 1fr 1fr / repeat(4, 1fr);
}
.meals {
  overflow: hidden;
}
.meals img {
  opacity: 0.75;
  transform: scale(1.65);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.meals img:hover,
.meals img:active,
.meals img:focus {
  opacity: 1;
  transform: scale(1);
  transition: transform 0.5s;
}

/* How it works */
#howItWorks {
  background-color: #E8E8E8;
}
.worksBox {
  width: 60%;
  display: flex;
  align-items: center;
  padding-bottom: 3.5em;
  margin: 5em auto 0 auto;
  justify-content: space-between;
}
.phone img {
  width: 70%;
}
.worksText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.worksText .list {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  justify-content: space-between;
}
.worksText .list .number {
  color: #ED8549;
  font-size: 2.75em;
  padding-right: 0.5em;
}
.worksText .list .numberOne {
  padding-right: 0.65em;
}
.worksText .list .listText {
  font-size: 1.1em;
}
.worksText .appStore {
  width: 100%;
}
.worksText .appStore .ios {
  width: 110%;
  padding-right: 2em;
}
.worksText .appStore .android {
  width: 85%;
}

/* Locations */
.cities {
  display: flex;
  margin: 3.5em 0;
}
.cities .city {
  padding: 0 8px;
}
.cities .city .cityImg {
  margin-bottom: 1em;
}
.cities .city .cityName {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 0.45em;
}
.cities .city .restInfo {
  list-style: none;
}
.cities .city .restInfo li {
  margin-bottom: 0.25em;
}
.cities .city .restInfo li i {
  color: #ED8549;
  padding-right: 0.5em;
}

/* Testimonials */
#ourCustomers {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/back-customers.jpg');
}
#ourCustomers h2 {
  color: #fff;
}
.testimonials {
  color: #fff;
  display: flex;
  margin-top: 3.5em;
  padding-bottom: 3.5em;
}
.testimonials .test {
  padding: 0 8px;
}
.testimonials .test i {
  font-size: 1.5em;
}
.testimonials .test p {
  margin-bottom: 1em;
}
.customer {
  display: flex;
  align-items: center;
}
.customer figure {
  margin: 0;
  width: 15%;
}
.customer figure img {
  border-radius: 50%;
}
.customer span {
  margin-left: 1em;
}

/* Start eating healthy today */
.packages {
  display: flex;
  margin: 3.5em 0;
  align-items: center;
  justify-content: space-between;
}
.pkg .pkgTitle {
  font-size: 1.2em;
  font-weight: 400;
}
.pkg ul {
  list-style: none;
}
.pkg a {
  color: #ED8549;
  font-weight: 400;
  text-decoration: none;
}
.pkg a button {
  margin-top: 1em;
  padding: 0.4em 2em;
  border-radius: 25px;
  border: solid 1px #ED8549;
  background-color: transparent;
}
.pkg a button:hover {
  color: #fff;
  background-color: #ED8549;
  transition: color 0.3s ease-in-out,
  background-color 0.3s ease-in-out;
}